@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Noto Sans;
}
body {
  background:url("./assets/bgn.jpg") no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 20px);
  overflow:none;
}

.cardHolder {
  margin:20px auto;
  width:100vw;
  max-width:420px;
  position: relative;
  aspect-ratio: 9/14;
  display:flex;
  justify-content: center;
}